body {
    margin: 0;
    padding: 0;
}

#preview {
    position: relative;
}

#layer {
    position: absolute;
    top: 0;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 auto 15px;
}

.m-15 {
   margin: 15px;
}

#similar-users ol{
    animation: slide-down 5s linear forwards;
}

#similar-users, select {
    font-size: 30px;
}

#similar-users ol {
    border: 1px solid;
}

@keyframes slide-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide-down {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#selected-users{
    display: block;
    font-size: 12px;
    margin: 5px;
}

#selected-users input{
    margin: 5px;
}

option.similar {
    font-weight: bold;
}

.bar-chart{
    position: relative;
    display: block;
    overflow: hidden;
}
.bar-chart .bar{
    float: left;
    width: 3px;
    overflow: hidden;
    background-color: black;
}
